.btn {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 700 !important;
  cursor: pointer;
  font-size: 20px;
  padding: 7px 2px;
  transition: color 0.3s ease;
  &:focus {
    outline: none;
  }
  &:hover {
    color: darken($color: white, $amount: 15);
  }
}

.btn-primary {
  background-color: $primary;
  border-radius: 5px;
  &:disabled {
    background-color: lighten($color: $primary, $amount: 15);
  }

  &:hover {
    background-color: darken($color: $primary, $amount: 15);
  }
}

.btn-secondary {
  padding: 0.5rem 1rem;
  background-color: $secondary;
  border-radius: 5px;
  &:disabled {
    background-color: lighten($color: $secondary, $amount: 15);
  }

  &:hover {
    background-color: darken($color: $secondary, $amount: 15);
  }
}

.btn-warning {
  padding: 0.5rem 1rem;
  background-color: #FFCB47;
  border-radius: 5px;
  &:disabled {
    background-color: lighten($color: #FFCB47, $amount: 15);
  }

  &:hover {
    background-color: darken($color: #FFCB47, $amount: 15);
  }
}
.btn-success {
  padding: 0.5rem 1rem;
  background-color: $success;
  border-radius: 5px;
  &:disabled {
    background-color: lighten($color: $success, $amount: 0);
  }

  &:hover {
    background-color: darken($color: $success, $amount: 15);
  }
}

.btn-danger {
  background-color: red;
  border-radius: 5px;
  padding: 0.5rem 1rem;

  transition: background-color 0.3s ease;
  &:hover {
    background-color: darken($color: red, $amount: 10);
  }
}

.btn-block {
  width: 100%;
}

.google-btn {
  cursor: pointer;
  margin-top: 5px;
  width: 100%;
  height: 42px;
  background-color: $google-blue;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);

  transition: box-shadow 0.3s ease;

  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: $white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 40px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
  }
  &:hover {
    box-shadow: 0 0 6px $google-blue;
  }
  &:active {
    background: $button-active-blue;
  }
}
