.journal__main-content {
  display: flex;
}

.journal__sidebar {
  background-color: $dark-grey;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-left: 10px;
  padding-right: 10px;
  width: 450px;
}

.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 3rem 1rem;
}

.journal__sidebar-navbar {
  font-weight: lighter;
}

.journal__nex-entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  // margin-top: 30px;
  width: 100%;
  flex-direction: column;
  margin-bottom: 2rem;
  transition: color 0.4s ease;
  &:hover {
    color: darken($color: $primary, $amount: 5);
  }
}
.journal__nex-entry i {
  font-size: 3rem !important;
}
.journal__nex-entry p {
  margin-top: 1rem;
}
.journal__entries {
  margin-top: 3rem;
  flex: 1 1 auto;
  overflow: scroll;
  height: 100vh;
}

.journal__entry {
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  color: $dark-grey;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0.3rem;
}

.journal_entry .info-note {
  display: flex;
}

.journal__entry-title {
  font-size: 14px;
  font-weight: bold;
}
.journal__entry-content {
  width: 12ch !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.journal-entries {
  overflow-y: auto;
}

.journal__image {
  width: 5rem;
  height: 4.5rem;
}
